<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Markdown" path="*.md" verb="*" type="MarkDownHandler.MarkDownHandler" resourceType="File" requireAccess="Script" preCondition="integratedMode" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
